font-family = ""
font-family = "{{ ghostty_font_family }}"
font-family = "{{ ghostty_fallback_font_family }}"
font-size = {{ ghostty_font_size }}
window-title-font-family = "{{ ui_font_family }}"
window-decoration = false
