* {
    font-family: "{{ ui_font_family }}", "Font Awesome 6 Free", "FontAwesome", "MesloLGS NF";
    font-size: 12px;
}

window#waybar {
    background: #161616;
    color: #dddddd;
}

#workspaces button {
    padding: 0 8px;
    color: #888888;
}

#workspaces button.active {
    color: #ffffff;
}

#cpu,
#memory,
#network,
#pulseaudio,
#clock {
    padding: 0 8px;
}
